/* Base css class for design objects */
.vfabrika-default-design-object-style {
	position: absolute;
}

.vfabrika-default-design-object-style:hover {
	position: absolute;
}

.vfabrika-default-design-object-style:active {
	position: absolute;
}

.vfabrika-default-design-object-style:disabled {
	position: absolute;
}

/* contentDesignObject - content1 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_4daee2cb-85d2-4088-abcf-cd1e82a64029 {
	left: 2px;
	top: -4px;
	width: 761px;
	height: 465px;
}

/* imageDesignObject - image8 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_c978fe36-2e02-42fc-b34d-2a30f53345a9 {
	left: 40px;
	top: 150px;
	width: 194px;
	height: 39px;
}

/* imageDesignObject - image9 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_2957276b-2470-4a30-bd2c-d1a1a7bd8475 {
	left: 504px;
	top: 146px;
	width: 203px;
	height: 42px;
}

/* imageDesignObject - image5 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_366a9ac4-08c0-46db-bfdf-b1244fe45383 {
	left: 504px;
	top: 104px;
	width: 197px;
	height: 41px;
}

/* imageDesignObject - image10 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_b24d002a-a95d-4212-8c9f-cac05485fad3 {
	left: 274px;
	top: 150px;
	width: 187px;
	height: 40px;
}

/* imageDesignObject - drag_005 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_0fe83a48-c9fb-429e-96dc-a45cf3bcee4b {
	left: 501px;
	top: 60px;
	width: 199px;
	height: 39px;
}

/* imageDesignObject - drag_004 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_2bc42071-d71f-4741-803f-64838f08586f {
	left: 273px;
	top: 104px;
	width: 187px;
	height: 38px;
}

/* imageDesignObject - drag_003 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_90c6abc5-37ba-44b0-a445-62770d893ef1 {
	left: 43px;
	top: 63px;
	width: 188px;
	height: 34px;
}

/* imageDesignObject - drag_002 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_952fbc9b-8e50-4e4b-b742-f020f71d2bee {
	left: 40px;
	top: 104px;
	width: 197px;
	height: 38px;
}

/* imageDesignObject - drag_001 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_a4f59f49-d63f-42a5-9532-9838c32c874d {
	left: 274px;
	top: 62px;
	width: 191px;
	height: 36px;
}

/* contentDesignObject - drop_005 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_a3477970-436d-4c6d-8333-8ef033fa18ba {
	left: 140px;
	top: 398px;
	width: 130px;
	height: 37px;
}

/* contentDesignObject - drop_004 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_5c47245d-fa6f-4c28-82d8-f8c2a510f76b {
	left: 193px;
	top: 358px;
	width: 130px;
	height: 37px;
}

/* contentDesignObject - drop_003 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_2318eec6-9376-46d4-b768-5d55f95f9536 {
	left: 80px;
	top: 322px;
	width: 130px;
	height: 37px;
}

/* contentDesignObject - drop_002 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_94bdd298-fb9e-42a9-8417-1d19ab1c9f5a {
	left: 546px;
	top: 223px;
	width: 130px;
	height: 37px;
}

/* contentDesignObject - drop_001 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_f26fb5bf-0869-482e-ba6e-9b3b7ab58175 {
	left: 119px;
	top: 188px;
	width: 130px;
	height: 37px;
}

/* soundDesignObject - alkis */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_aede2859-3222-499b-8f8d-9f60cf05a847 {
	left: -134px;
	top: 71px;
	width: 48px;
	height: 48px;
}

/* triggerDesignObject - trigger1 */
.vfabrika-design-object-style_3eff74a4-6db9-4c1c-a1e8-700a57e64f44_8af353e4-8f44-4807-8ce9-cb5881a71c7d_4308aeaa-0b92-4279-81aa-392fc20210f6 {
	left: -130px;
	top: 1px;
	width: 48px;
	height: 48px;
}

/* contentDesignObject - content2 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_2e658428-e5d8-4d95-be91-4c1469b5d8c2 {
	left: 3px;
	top: -5px;
	width: 759px;
	height: 463px;
}

/* imageDesignObject - cvp_005 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_04c67f7b-304f-4c28-aeff-c5bdeeeac560 {
	left: 137px;
	top: 405px;
	width: 136px;
	height: 39px;
}

/* imageDesignObject - cvp_004 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_bd6578b0-e454-46e5-b41f-97cf788061c3 {
	left: 195px;
	top: 363px;
	width: 125px;
	height: 40px;
}

/* imageDesignObject - cvp_003 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_e60befda-140c-4db4-b140-8f95fd2a00ea {
	left: 78px;
	top: 328px;
	width: 133px;
	height: 37px;
}

/* imageDesignObject - cvp_002 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_fcc177bc-67df-483c-844d-c5bb430cfcfd {
	left: 550px;
	top: 228px;
	width: 128px;
	height: 36px;
}

/* imageDesignObject - cvp_001 */
.vfabrika-design-object-style_a7725c16-3f59-46a9-b541-e8708a1faba0_4fcca00f-9775-4940-9d56-e85455723820_fddf703e-84fb-4591-b913-c0a487f762ad {
	left: 117px;
	top: 195px;
	width: 133px;
	height: 35px;
}

/* imageDesignObject - image1 */
.vfabrika-design-object-style_fff72652-f354-4267-bbf9-f067991956b3_6c1edf5e-8468-4669-a4e0-fb52d320b78e_37853409-1c89-48af-82b4-b2ff4f88e665 {
	left: 5px;
	top: 7px;
	width: 749px;
	height: 453px;
}

